button {
    border: 1px solid gold;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    width: 22%;
    color: white;
    background-color: #26272b;
    font-weight: 600;
}

button:hover {
    background-color: gold;
    color: black;
}

button.fancyButton {
    border: 1px solid gold;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    width: 22%;
    color: black;
    background-color: gold;
    font-weight: 900;
}

